.properties-container{
	display: flex;
	
}

.search-options-container{
	flex-basis: 30%;
	flex-grow: 1;
	margin-right: 10px;
	margin-top: 20px;
	background-color: #f7f7f7;
	margin-bottom: 10px;
	-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	height: 100%;
}

.frm-property-search{
	display: flex;
	flex-direction: column;
}

.search-desc {
	margin-top: 10px;
	margin-bottom: 3px;
	font-size: 10px;
	color: #676464;
}

.filter-head {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 10px;
	color: #333;
	padding: 0 15px 0 15px;
	height: 17px;
	line-height: 17px;
	background-color: #f2f2f2;
	border-top: 1px solid #dfdfdf;
	border-bottom: 1px solid #dfdfdf;
}

.filter-body {
	padding: 15px 15px 15px 15px;
}

.filter-body .headline{
	font-size: 10px;
	color: #676464;
	margin-bottom: 3px;
	font-size: 10px;
}

.filter-checkbox-row{
	display: flex;
	width: 100%;
}

.filter-checkbox-row div{
	flex: 1;
}

.filter-checkbox-row .cb{
	margin-right: 5px;
}

.filter-checkbox-row .cb-label{
	color: #676464;
	font-size: 10px;
}

.property-table-header{ 
	/*background-color: #007777;*/
	color: #676464;
	height: 54px;
	font-size: 18px;
	padding-left: 15px;
	font-size: 24px;
	line-height: 54px;
	font-weight: normal;
}

.filters-title {
	background-color: #007777;
	color: #fff;
	height: 54px;
	-moz-border-radius: 3px 3px 0 0;
	-webkit-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
	font-size: 18px;
	padding-left: 15px;
	line-height: 54px;
}

.input-fluid{
	display: flex;
	align-items: center;
	flex-wrap: wrap;

}

.filters-search-button {
	height: 38px;
	width: 68px;
	background: #007777;
	border: 1px solid #007777;
	color: #ffffff;
	border-radius: 3px;
}

.filters-back-button {
	height: 38px;
	width: 68px;
	background: #007777;
	border: 1px solid #007777;
	color: #ffffff;
	border-radius: 3px;
	flex-basis: 100%;
}

.filters-submit-button {
	height: 38px;
	width: 68px;
	background: #007777;
	border: 1px solid #007777;
	color: #ffffff;
	border-radius: 3px;
	flex-basis: 100%;
	margin-bottom: 8px;
}

.full-width {
	width: 100%;
}

.filters-text-input {
	flex: 1;
	font-size: 12px;
	padding: 0 8px;
	resize: none;
	border: 1px solid #dfdfdf;
	height: 38px;
	color: #676464;
	background-color: #ffffff;
	border-radius: 3px;
	margin-right: 5px;
}

.property-table-navigation .box-property-nav {
	display: flex;
}


.property-table-navigation .btn-group-property-nav {
	justify-content: flex-start;
	flex: 1;
}

.box-property-nav .page-navigation {
	flex: 1;
}

.dropdown-property-per-page {
	align-content: center;
	display: flex;
	flex: 1;
	justify-content: center;
	padding: 4px 4px 4px 4px;
}

.dropdown-property-per-page .dropdown-decript{
	align-self: center;
	font-size: 12px;
	padding-right: 10px;
}


.dropdown-property-per-page .dropdown {
	width: 63px;
	-moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	background-color: #f7f7f7;
}

.page-navigation{
	justify-content: flex-end;
}

.property-table-navigation .page-navigation-info, .property-table-navigation .btn{
	color: #676464;
	font-size: 12px;
	padding: 8px 10px 8px 10px;
	border: 0px;
	text-align: center;
	background-color: #f7f7f7;
	border: 1px solid #dfdfdf;
	min-width: 20px;
	-moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}


.property-table-container {
	flex-basis: 70%;
	margin-top: 20px;
}

#property-table-admin {
	width: 100%;
}


.row-property {
	display: flex;
	align-items: center;
	justify-content: space-between;

	padding: 10px 10px 10px 10px;
}



#property-table-admin .row-property {
	background-color: #f7f7f7;
	margin-bottom: 10px;
	-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

#property-table-admin .row-property td:nth-child(2) {
	flex: 2;
}

#property-table-admin .row-property td:nth-child(3) {
	flex: 2;
}

#property-table-admin .row-property td:nth-child(4) {
	flex: 1;
}

#property-table-admin .row-property td:nth-child(5) {
	flex: 1;
}

.img-property {
	width: 300px;
	height: 200px;
}

.img-property img {
	width: 300px;
	height: 200px;
}

#property-table-admin .td {
	height: 200px;
}

.img{
	background-image: url("/CMSV1/assets/apartment2.jpg");
	background-repeat: no-repeat;
	/*background-size: auto 100vh;*/
	background-size: cover;
	background-position: center;
	height: 100%;

}

#property-table-admin .lbl-property{
	text-align: center;
}


///// CREATE EDIT PROPERTY

.create-edit-wrapper{
	display: flex;
}

form#frm-create-edit-property {
	display: flex;
}

.property-create-edit{
	display: flex;
	flex-direction: column;
}

.create-edit-container {
	flex-basis: 30%;
	margin-right: 10px;
	margin-top: 20px;
	background-color: #f7f7f7;
	margin-bottom: 10px;
	-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	height: 100%;
}

.property-create-edit-contet {
	flex-basis: 70%;
	margin-top: 20px;
}


.create-edit-container .filters-text-input{
	margin: 0;
}

.create-edit-container .dropdown{
	height: 38px;
	align-items: center;
}

.add-img-container{
	display: flex;
	flex-wrap: wrap;
	/*justify-content: space-between;*/


}
.add-img-container .add-image-placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 220px;
    min-width: 258px;
    background-color: #f7f7f7;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    flex-basis: 32%;
    margin: 4px 4px;
}

.add-img-container .add-image-placeholder:hover{
	background-color: rgba(0, 0, 0, 0.1);
	cursor: pointer;
}

.add-image-placeholder .add-symbol{
	display: flex;
	align-items: center;
	justify-content: center;
	color: #007777;
	font-size: 5em;
}

.add-image-placeholder .file-input{
	display: none;
}

.add-image-placeholder .img-preview{
	display: none;
}


.dropdown-property-per-page span.selected {
	padding: 9px 8px;
}











