.background-img{
	position: absolute;
	left: 0;
	width: 100%;
	height: calc(100% - 60px);
	background-image: url("/CMSV1/apartment1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	filter: grayscale(0.30); /* Microsoft Edge and Firefox 35+ */
	-webkit-filter: grayscale(0.30); /* Google Chrome, Safari 6+ & Opera 15+ */

}

.background-layer{
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(64,64,64,0.7);
}

#login-content{
	position: absolute;
	left: 0;
	width: 100%;
	height: calc(100% - 60px);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}


#login-content hr{
	width: 450px;
}


#login-headline{
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 450px;
	text-align: center;
}


#login-headline h1 {
    font-size: 50px;
   	font-weight: 400;
}

#login-headline p {
    margin: 20px 20px 20px 20px;
   	
}

.input-container{
	display: flex;
	flex-direction: row;
	width: 450px;
	align-items: center;
	justify-content: center;
	margin-top: 10px;
}

.input-container input:focus::-webkit-input-placeholder 
{
	color: transparent;
}


.input-container .fa {
	display: flex;
	font-size: 22px;
	width: 40px;
	height: 40px;
	align-items: center;
	justify-content: center;
	flex: 1;
}


.input-container .txt-input {
	width: 100%;
	padding-left: 8px;
	height: 50px;
	font-size: 14px;
	font-weight: 100;
	flex: 10;
}

.input-option-remember{
	display: flex;
	height: 50px;
	flex: 1;
	font-size: 14px;
	flex-direction: row;
	align-items: center;
	padding-left: 14px;
}

.input-option-remember .input-checkbox {
	cursor: pointer;
	align-items: center;
	margin-right: 23px;
}

.input-option-forgot{
	display: flex;
	font-size: 14px;
	height: 50px;
	align-items: center;
	padding-right: 8px;
}


#login-content .btn {
	color: #ffffff;
	font-size: 14px;
	background: #007777;
	padding: 10px 0px 10px 0px;
	margin-top: 10px;
	border: 0px;
	width: 450px;
	text-align: center;
	-webkit-border-radius: 3px; 
    border-radius: 3px; 
}


#login-content .btn:hover {
	cursor: pointer;
	background: #006666;
	text-decoration: none;
}


#login-content .btn:focus {
	outline: none;
}

.input-option-forgot a{
	cursor: pointer;
}

.input-option-forgot a{
	cursor: pointer;
}

.input-option-forgot a:hover{
	cursor: pointer;
	border-bottom: 1px solid;
}



/*REP|CPH*/








