#property-table {
	width: 100%;
}


#property-table tr.row-property {
    background-color: #f7f7f7;
    margin-bottom: 10px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

