.properties-container{

	margin-top: 69px;
	display: flex;
	width: 100vw;
	height: 100vh;
	color: black;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
	overflow: scroll;
}


.properties-container h1{
	padding: 20px 0px 20px 0px;
}

.row-property {
	display: flex;
	width: 80vw;
	align-items: center;
	justify-content: space-between;

	padding: 10px 0px 10px 0px;
}

#property-table .row-property {
	height: 200px;
	margin-top: 20px;
    padding: 10px 10px 10px 10px;
    background-color: #f7f7f7;

    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}



#property-table .row-property td:nth-child(2) {
	flex: 1;
}

#property-table .row-property td:nth-child(3) {
	flex: 1;
}


.img-property {
	width: 300px;
}

#property-table .td {
	height: 200px;
}

#property-table .img-property {
	width: 300px;
	height: 100%;
}
.img{
	background-image: url("/CMSV1/apartment3.jpg");
	background-repeat: no-repeat;
	/*background-size: auto 100vh;*/
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100%;

}


.lbl-property{
	text-align: center;
}

