.header-container {

	top: 0;
	left: 0;
	position: absolute;
	display: flex;
	height: 70px;
	width: 100vw;
	background-color: white;
	opacity: 0.9;
	z-index: 99;
	color: black;
	align-items: center;
	justify-content: center;

	-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.navigation{
	display: flex;
	justify-content: flex-end;
	flex: 2;
	margin-right: 200px;
}

.navigation	div{
	margin: 10px 10px 10px 10px;

}

.logo{
	display: flex;
	justify-content: flex-start;
	flex: 1;
	margin-left: 200px;
}

#logo1 {
	color: #E81600;
}

#logo2 {
	color: white;
}

#logo3 {
	color: #007777;
}